.content {
  @apply w-full px-20 sm:px-10 xs:px-5 py-20;
}

.applications {
  grid-template-columns: 0.6fr 1fr;
}

.reverse {
  grid-template-columns: 1fr 0.8fr;
}

@media (max-width: 1200px) {
  .reverse,
  .applications {
    grid-template-columns: 1fr;
  }
}
