@tailwind base;
@tailwind components;
@tailwind utilities;

.viewport {
  min-height: 100vh;
  min-height: 100svh;
}

section {
  min-height: 100vh;
  min-height: 100svh;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}

h4,
h5,
h6,
p,
a,
span,
button,
li,
ul,
ol {
  font-family: "Roboto", sans-serif;
}

h2 {
  @apply lg:text-6xl md:text-5xl xs:text-4xl;
}

.responsive-container {
  width: 100%;
  max-width: 1200px;
}

@media (max-width: 1230px) {
  .responsive-container {
    width: 90%;
  }
}
